@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0A1439; /* vanguard-darkNavy */
  background-color: white;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #132257; /* vanguard-navy */
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #132257; /* vanguard-navy */
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #132257; /* vanguard-navy */
}

a {
  color: #C4151C; /* vanguard-red */
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover {
  color: #A31419; /* vanguard-darkRed */
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #C4151C; /* vanguard-red */
  color: white;
  font-weight: 600;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button:hover {
  background-color: #A31419; /* vanguard-darkRed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
